<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
<header><img src="/img/logo.jpg" width="100" height="100" alt="Meadowlark Travel Logo"></header>
{{{body}}}
</body>
</html>