<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery.min.js"></script>
</head>
<header>
    <img src="/images/logo.png" alt="Meadowlark Travel Logo" width="150" height="100">
</header>
<body>
{{{body}}}
</body>
</html>
